{{ define "main" }}
	<main>
	  {{ .Content }}
	  <h1 id="upcoming">Upcoming Events</h1>
	  Announcements about the upcoming events (<a href="{{ relURL "/announcements/index.xml" }}">RSS feed</a>),
	  {{- $pages := .Site.Taxonomies.categories.event.Pages.ByExpiryDate }}
	  <ul>
	  {{- if $pages }}
	  {{- range first 3 $pages }}
	  <li>
   	    <strong>{{ .Site.Params.upcomingDateForm | default "Jan 2, 2006" | .ExpiryDate.Format }}</strong>: <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
	  </li>
	  {{- end }}
	  {{- end }}
	  <li><a href="{{ relURL "/announcements/" }}" ><strong>Past announcements …</strong></a></li>
	  </ul>
	</main>
{{ end }}
